## Numpy

Импортировать NumPy под именем np

In [1]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [2]:
vector0 = np.zeros(10)
vector0

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

Создать вектор размера 10, заполненный единицами

In [3]:
vector1 = np.ones(10)
vector1

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

Создать вектор размера 10, заполненный числом 2.5

In [4]:
vector_2 = np.full(10, 2.5)
vector_2

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [5]:
vector_3 = np.zeros(10)
vector_3[4] = 1
vector_3

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

Развернуть вектор (первый становится последним)

In [6]:
vector_direct = np.linspace(2.0, 20.0,num = 10) # числа - по возрастанию
vector_4 = vector_direct[::-1]
vector_4 # теперь числа - в убывающем порядке

array([20., 18., 16., 14., 12., 10.,  8.,  6.,  4.,  2.])

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [7]:
array_2d = np.arange(0,9).reshape(3,3) # форма 2*2, но это все еще array
matrix_1 = np.asmatrix(array_2d) # преобразуем к matrix
matrix_1

matrix([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]])

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [8]:
# решение 1
source = [1,2,0,0,4,0]
non_zeros = []

for i in range(0, len(source)):
    if source[i] != 0:
        non_zeros.append(i)

non_zeros

[0, 1, 4]

In [9]:
# решение 2
source = [1,2,0,0,4,0]
non_zeros = []

for index,value in enumerate(source):
    if(value != 0):
        non_zeros.append(index)

non_zeros

[0, 1, 4]

In [10]:
# решение 3
source = [1,2,0,0,4,0]
non_zeros = np.nonzero(source)

non_zeros

(array([0, 1, 4]),)

Создать 3x3 единичную матрицу

In [11]:
matrix_ones = np.asmatrix( np.ones(3*3).reshape(3,3) )

matrix_ones

matrix([[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]])

Создать массив 3x3x3 со случайными значениями

In [12]:
# решение 1
def random_value(x,y,z):
    return np.random.rand(1)[0]
    
array_random_3 = np.fromfunction(np.vectorize(random_value), (3, 3, 3))
array_random_3

array([[[0.35628039, 0.23301823, 0.97260492],
        [0.91767681, 0.15867125, 0.28734799],
        [0.90295307, 0.35928405, 0.59854829]],

       [[0.94461774, 0.82580556, 0.93041224],
        [0.95008058, 0.51118108, 0.90197054],
        [0.72413171, 0.9303344 , 0.39656646]],

       [[0.66362513, 0.00840925, 0.46715039],
        [0.28310545, 0.50930467, 0.0091031 ],
        [0.07399764, 0.8775565 , 0.89250513]]])

In [13]:
# решение 2
array_random_3 = np.random.rand(3,3,3) # то же самое: np.random.random((3,3,3))
array_random_3

array([[[0.30304629, 0.43341066, 0.28713713],
        [0.92656348, 0.6613318 , 0.26027959],
        [0.98272187, 0.84738208, 0.1393213 ]],

       [[0.86470181, 0.71224362, 0.03914699],
        [0.5650913 , 0.73959756, 0.52213175],
        [0.66622885, 0.95969695, 0.5712402 ]],

       [[0.28141643, 0.02208693, 0.49026649],
        [0.61828124, 0.15831984, 0.13696301],
        [0.10641165, 0.13348891, 0.12576553]]])

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [14]:
vect_30 = np.random.rand(30)
print(vect_30)
result_avg = np.average(vect_30) # np.mean(vect_30) - то же самое
result_avg

[0.33753282 0.06046682 0.62359097 0.72725571 0.66950615 0.58467088
 0.40219638 0.67075703 0.00776273 0.55262934 0.34028919 0.37333907
 0.67664595 0.05855358 0.48126689 0.8248921  0.53988286 0.81040425
 0.71866054 0.06691696 0.22922203 0.76968243 0.83315113 0.1477414
 0.07006515 0.90916702 0.9500296  0.30898691 0.2040201  0.52245817]

0.4823914714569779

Перемножить матрицы 5x3 и 3x2

In [15]:
matrix_1 = np.asmatrix(np.random.rand(5,3))
matrix_2 = np.asmatrix(np.random.rand(3,2))

result_matrix = matrix_1 * matrix_2 # как вариант:  np.dot(matrix_1, matrix_2)

result_matrix

matrix([[0.47813023, 1.34265752],
        [0.57208443, 1.29935447],
        [0.53561942, 1.27877957],
        [0.48870114, 0.74630519],
        [0.58396204, 0.88841231]])

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [16]:
result_vector = np.linspace(0,1,11, endpoint=False)[1:]
result_vector

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

Заменить максимальный элемент на ноль

In [17]:
source_vector = np.linspace(1,2,10, endpoint=False)
source_vector[3] = sum(source_vector) # сделаем так, чтобы max_value - было где-то в центре
source_vector[source_vector.argmax()] = 0
source_vector

array([1. , 1.1, 1.2, 0. , 1.4, 1.5, 1.6, 1.7, 1.8, 1.9])

Преобразовать массив из float в int

In [18]:
source_array = np.arange(10, dtype=np.float32)
result_array = source_array.astype(np.int64, copy = False)

source_array, result_array

(array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.], dtype=float32),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]))

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [19]:
source_coords = np.random.random((10,2))

import scipy.spatial
distances = scipy.spatial.distance.cdist(source_coords, source_coords, metric='euclidean')
 
distances

array([[0.        , 0.88261807, 0.27803108, 0.8411578 , 1.25203929,
        0.92273254, 0.26594837, 0.7519391 , 0.43500852, 0.44773538],
       [0.88261807, 0.        , 0.61960611, 0.65925798, 0.84824349,
        0.10026096, 0.68710008, 0.89847138, 0.73250749, 0.62781437],
       [0.27803108, 0.61960611, 0.        , 0.74525274, 1.13106817,
        0.65059568, 0.23947842, 0.7638806 , 0.43576296, 0.3816473 ],
       [0.8411578 , 0.65925798, 0.74525274, 0.        , 0.41293987,
        0.75916839, 0.57940949, 0.30637447, 0.42210097, 0.39446218],
       [1.25203929, 0.84824349, 1.13106817, 0.41293987, 0.        ,
        0.94117754, 0.9880288 , 0.6377642 , 0.8344654 , 0.80431869],
       [0.92273254, 0.10026096, 0.65059568, 0.75916839, 0.94117754,
        0.        , 0.74770282, 0.99358157, 0.81192392, 0.70682353],
       [0.26594837, 0.68710008, 0.23947842, 0.57940949, 0.9880288 ,
        0.74770282, 0.        , 0.53727166, 0.20407798, 0.18507718],
       [0.7519391 , 0.89847138, 0.7638806 , 0.30637447, 0.6377642 ,
        0.99358157, 0.53727166, 0.        , 0.33324959, 0.38771218],
       [0.43500852, 0.73250749, 0.43576296, 0.42210097, 0.8344654 ,
        0.81192392, 0.20407798, 0.33324959, 0.        , 0.10510067],
       [0.44773538, 0.62781437, 0.3816473 , 0.39446218, 0.80431869,
        0.70682353, 0.18507718, 0.38771218, 0.10510067, 0.        ]])

Случайно расположить p элементов в 2D массив

In [20]:
# условие
p = 5
n = 3
m = 3
elements = np.random.random(p) # элементы, которые располагать
result = np.zeros((n,m)) # массив, в который располагать элементы

np.put(result, np.random.choice(range(n*m), p, replace=False),  elements)
result

array([[0.65071201, 0.        , 0.7990627 ],
       [0.        , 0.        , 0.17106525],
       [0.62758564, 0.        , 0.94416171]])

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [21]:
source = np.array([1,2,3,4,5]) # исходный массив
zero_count = 3 # кол-во нулей, которые располагать между элементами
result = np.zeros(len(source) + (len(source)-1)*(zero_count)) # итоговый массив: создаем из нулей, и потом заменим нужные элементы из source
result[::zero_count+1] = source # каждый элемент, который выпадает не на 0 - подставляем из исходного масива

result

array([1., 0., 0., 0., 2., 0., 0., 0., 3., 0., 0., 0., 4., 0., 0., 0., 5.])

Найти наиболее частое значение в массиве

In [22]:
source = np.random.randint(low = 4, high = 9, size = 10) # числа: min = low, max = high - 1. Всего 10 чисел
occurances = np.bincount(source) # значение i-го элемента в массиве = кол-во раз, которое встречалось число i
print(occurances)
max_frequent = occurances.argmax() # в каком элементе массива наибольшее значение

max_frequent

[0 0 0 0 5 1 1 1 2]

4

Найти n наибольших значений в массиве

In [23]:
# решение = отсортировать по убыванию и взять первые n элементов
n = 5
source = np.random.randint(low = 1, high = 10, size = 15)
print(source)
sorted_array = np.flip(np.sort(source))
print(sorted_array)
result_array = sorted_array[:n]

result_array

[7 1 2 5 1 6 3 3 6 5 1 5 7 8 9]
[9 8 7 7 6 6 5 5 5 3 3 2 1 1 1]

array([9, 8, 7, 7, 6])

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [24]:
import pandas as pd

In [29]:
# en_openfoodfacts_org_products.tsv
food = pd.read_csv('../../data.csv', delimiter='\t', encoding='utf-8', low_memory=False) # для загрузки нескольких строк - можно указать nrows=5

Посмотреть первые 5 записей

In [32]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,0000000003087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000004530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,0000000004559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,0000000016087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,0000000016094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько наблюдений в наборе данных?

In [33]:
print(food.shape[0]) # вариант 1, наиболее понятный
print(food.iloc[:,5].count()) # вариант 2, но, тут нужно проверять, что нет пропусков - например, для первых столбцов результат отображает меньший
len(food.index) # вариант 3, наиболее быстрый по скорости выполнения: https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe

356027
356027

356027

Сколько столбцов в наборе данных?

In [49]:
food.columns.size

163

Напечатайте все названия столбцов

In [50]:
print(food.columns.values)

['code' 'url' 'creator' 'created_t' 'created_datetime' 'last_modified_t'
 'last_modified_datetime' 'product_name' 'generic_name' 'quantity'
 'packaging' 'packaging_tags' 'brands' 'brands_tags' 'categories'
 'categories_tags' 'categories_en' 'origins' 'origins_tags'
 'manufacturing_places' 'manufacturing_places_tags' 'labels' 'labels_tags'
 'labels_en' 'emb_codes' 'emb_codes_tags' 'first_packaging_code_geo'
 'cities' 'cities_tags' 'purchase_places' 'stores' 'countries'
 'countries_tags' 'countries_en' 'ingredients_text' 'allergens'
 'allergens_en' 'traces' 'traces_tags' 'traces_en' 'serving_size'
 'no_nutriments' 'additives_n' 'additives' 'additives_tags' 'additives_en'
 'ingredients_from_palm_oil_n' 'ingredients_from_palm_oil'
 'ingredients_from_palm_oil_tags'
 'ingredients_that_may_be_from_palm_oil_n'
 'ingredients_that_may_be_from_palm_oil'
 'ingredients_that_may_be_from_palm_oil_tags' 'nutrition_grade_uk'
 'nutrition_grade_fr' 'pnns_groups_1' 'pnns_groups_2' 'states'
 'states_tags' 'states_en' 'main_category' 'main_category_en' 'image_url'
 'image_small_url' 'energy_100g' 'energy-from-fat_100g' 'fat_100g'
 'saturated-fat_100g' '-butyric-acid_100g' '-caproic-acid_100g'
 '-caprylic-acid_100g' '-capric-acid_100g' '-lauric-acid_100g'
 '-myristic-acid_100g' '-palmitic-acid_100g' '-stearic-acid_100g'
 '-arachidic-acid_100g' '-behenic-acid_100g' '-lignoceric-acid_100g'
 '-cerotic-acid_100g' '-montanic-acid_100g' '-melissic-acid_100g'
 'monounsaturated-fat_100g' 'polyunsaturated-fat_100g' 'omega-3-fat_100g'
 '-alpha-linolenic-acid_100g' '-eicosapentaenoic-acid_100g'
 '-docosahexaenoic-acid_100g' 'omega-6-fat_100g' '-linoleic-acid_100g'
 '-arachidonic-acid_100g' '-gamma-linolenic-acid_100g'
 '-dihomo-gamma-linolenic-acid_100g' 'omega-9-fat_100g' '-oleic-acid_100g'
 '-elaidic-acid_100g' '-gondoic-acid_100g' '-mead-acid_100g'
 '-erucic-acid_100g' '-nervonic-acid_100g' 'trans-fat_100g'
 'cholesterol_100g' 'carbohydrates_100g' 'sugars_100g' '-sucrose_100g'
 '-glucose_100g' '-fructose_100g' '-lactose_100g' '-maltose_100g'
 '-maltodextrins_100g' 'starch_100g' 'polyols_100g' 'fiber_100g'
 'proteins_100g' 'casein_100g' 'serum-proteins_100g' 'nucleotides_100g'
 'salt_100g' 'sodium_100g' 'alcohol_100g' 'vitamin-a_100g'
 'beta-carotene_100g' 'vitamin-d_100g' 'vitamin-e_100g' 'vitamin-k_100g'
 'vitamin-c_100g' 'vitamin-b1_100g' 'vitamin-b2_100g' 'vitamin-pp_100g'
 'vitamin-b6_100g' 'vitamin-b9_100g' 'folates_100g' 'vitamin-b12_100g'
 'biotin_100g' 'pantothenic-acid_100g' 'silica_100g' 'bicarbonate_100g'
 'potassium_100g' 'chloride_100g' 'calcium_100g' 'phosphorus_100g'
 'iron_100g' 'magnesium_100g' 'zinc_100g' 'copper_100g' 'manganese_100g'
 'fluoride_100g' 'selenium_100g' 'chromium_100g' 'molybdenum_100g'
 'iodine_100g' 'caffeine_100g' 'taurine_100g' 'ph_100g'
 'fruits-vegetables-nuts_100g' 'fruits-vegetables-nuts-estimate_100g'
 'collagen-meat-protein-ratio_100g' 'cocoa_100g' 'chlorophyl_100g'
 'carbon-footprint_100g' 'nutrition-score-fr_100g'
 'nutrition-score-uk_100g' 'glycemic-index_100g' 'water-hardness_100g']

Какое название у 105 столбца?

In [51]:
food.columns[104]

'-glucose_100g'

Какой тип наблюдений в 105 столбце?

In [52]:
food.dtypes[104]

dtype('float64')

Как проиндексирован набор данных?

In [53]:
food.index

RangeIndex(start=0, stop=356027, step=1)

Каково значение имени продукта в 19-м наблюдении?

In [54]:
food.iloc[18].loc['product_name']

'Lotus Organic Brown Jasmine Rice'

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [55]:
import pandas as pd
import requests
import io

In [56]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

r = requests.get(url)
if r.ok:
    data = r.content.decode('utf8')
    chipo = pd.read_csv(io.StringIO(data), delimiter='\t',encoding='utf-8', low_memory=False)
    
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Как много продуктов стоят более чем $10.00?

In [57]:
chipo['item_price_float'] = chipo['item_price'].map(lambda price: float(price[1:])) # создаем столбец, в котором цена - в виде float
filtered = chipo[chipo['item_price_float'] > 10.00]
len(filtered.index)

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [58]:
print(chipo.loc[:,['item_name','item_price']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

Отсортировать по имени предмета

In [59]:
chipo.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price,item_price_float
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

Сколько было заказано самого дорогого предмета?

In [60]:
# трактовака условия 1:
#   в данных нет идентификатора предмета,
#   то есть, с одним названием - могут встречаться разные предметы.
#   Например, название совпадает, но цена разная - это разные предметы
# решение 1:
#   отсортировать по цене, взять первый.
#   Взять значение из столбца quantity
#   Ограничение: считаем, что только 1 запись с максимальной ценой
chipo_sorted = chipo.sort_values(by=['item_price_float'], ascending=False)
chipo_sorted.head()
top_price = chipo_sorted.iloc[0,5]
row_of_interest = chipo_sorted[chipo_sorted['item_price_float'] == top_price]
assert len(row_of_interest) == 1
row_of_interest.iloc[0, 1]

15

In [61]:
# трактовка условия 2: 
#   считаем, что идентификатор предмета - его название,
#   и в других заказах этот предмет может быть с другой ценой.
# решение:
#   отсортировать по цене, взять первый, его название.
#   Теперь из всего набора выбрать записи, в которых такой предмет.
#   Просуммировать quantity.
chipo_sorted = chipo.sort_values(by=['item_price_float'], ascending=False)
top_item = chipo.sort_values(by=['item_price_float'], ascending=False).iloc[0,2] # если указать через loc - тогда не понятно как отметить первую строку, т.к. считает 0 как название
rows_of_interest = chipo[chipo['item_name']==top_item]
total_count = sum(rows_of_interest.loc[:,'quantity'])

total_count

130

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [62]:
rows_of_interest = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
# Решение 1: кол-во предметов, которые заказали в сумме
print(sum(rows_of_interest['quantity']))
# Решение 2: кол-во раз (строк), в которых заказывают этот предмет
len(rows_of_interest)

18

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [63]:
rows_of_interest = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
len(rows_of_interest)

20

In [ ]:
print('The En')